<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content="">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>

<body>

	<!-- HEADER =============================-->
	<header class="item header margin-top-0">
		<div class="wrapper">
			<nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle"
							type="button">
							<i class="fa fa-bars"></i>
							<span class="sr-only">Toggle navigation</span>
						</button>
						<a href="/" class="navbar-brand brand"> TRANSPORTES BAB </a>
					</div>
					<div id="navbar-collapse-02" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="propClone"><a href="/">Inicio</a></li>
							<li class="propClone"><a href="/origenes">Rutas</a></li>
							<li class="propClone"><a href="/camiones">Camiones</a></li>
							<li class="propClone"><a href="/pago">Pago</a></li>
							<% if (login) { %>
								<li class="propClone"><a href="/account"><%= name %></a></li>
								<li class="btn btn-primary"><a href="/logout">Cerrar Sesion</a></li>
							<% } else { %>
								<li class="propClone"><a href="/registro"><%= name %></a></li>
								<li class="btn btn-primary"><a href="/registro">Iniciar Sesion</a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="text-pageheader">
							<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
								Rutas
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- CONTENT =============================-->
	<section class="item content">
		<div class="container toparea">
			<div class="underlined-title">
				<div class="editContent">
					<h1 class="text-center latestitems">SELEECIONA TU ORIGEN（っ＾▿＾）</h1>
				</div>
				<div class="wow-hr type_short">
					<span class="wow-hr-h">
						<i class="fa fa-bus"></i>
						<i class="fa fa-bus"></i>
						<i class="fa fa-bus"></i>
					</span>
				</div>
				<!-- <form action="shop.html" method="post" id="rutaBusqueda"> -->
				<table class="table table.bordersed table.hover">
					<div class="container text-center">
						<tbody>
						<% if (data) { %>
							<% for (var i=0; i < data.length; i++) {%>
								<tr>
									<div class="d-grid gap-2">
										<a href="/destinos-to/<%= data[i].startingPlace %>" class="btn btn-lg btn-primary btn-block">
											<%= data[i].startingPlace %>
										</a>
									</div>	
								</tr>
							<% } %>
						<% } %>
						</tbody>
					</div>
				</table>


			</div>
			<div class="row">
				<!-- <div class="col-md-4">
					<div class="productbox">
						<div class="fadeshop">
							<div class="captionshop text-center" style="display: none;">
								<h3>Item Name</h3>
								<p>
									This is a short excerpt to generally describe what the item is about.
								</p>
								<p>
									<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i>
										Purchase</a>
									<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
								</p>
							</div>
							<span class="maxproduct"><img src="images/product1-1.jpg" alt=""></span>
						</div>
						<div class="product-details">
							<a href="#">
								<h1>Calypso Theme</h1>
							</a>
							<span class="price">
								<span class="edd_price">$49.00</span>
							</span>
						</div>
					</div>
				</div> -->




				<!-- /.productbox 
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							 This is a short excerpt to generally describe what the item is about.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/product2.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>FastSell Theme</h1>
					</a>
					<span class="price">
					<span class="edd_price">$49.00</span>
					</span>
				</div>
			</div>
		</div>
		-->
				<!-- /.productbox 
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							 This is a short excerpt to generally describe what the item is about.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/product2-3.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>Biscaya Theme</h1>
					</a>
					<span class="price">
					<span class="edd_price">$49.00</span>
					</span>
				</div>
			</div>
		</div>
		-->
				<!-- /.productbox 
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							 This is a short excerpt to generally describe what the item is about.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/product1.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>Expertum Theme</h1>
					</a>
					<span class="price">
					<span class="edd_price">$35.00</span>
					</span>
				</div>
			</div>
		</div>
		-->
				<!-- /.productbox 
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							 This is a short excerpt to generally describe what the item is about.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/product2-2.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>Serenity Theme</h1>
					</a>
					<span class="price">
					<span class="edd_price">$49.00</span>
					</span>
				</div>
			</div>
		</div>
		-->
				<!-- /.productbox 
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							 This is a short excerpt to generally describe what the item is about.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/product3.png" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>Hypnosa Theme</h1>
					</a>
					<span class="price">
					<span class="edd_price">$35.00</span>
					</span>
				</div>
			</div>
		</div>
		-->
			</div>
		</div>
		</div>
	</section>

	<!-- CALL TO ACTION =============================-->
	<section class="content-block" style="background-color:#00bba7;">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
						<h1 class="callactiontitle"> Cuidando la experiencia <span class="callactionbutton"><i
									class="fa fa-bus"></i> 24/7</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- FOOTER =============================-->
	<div class="footer text-center">
		<div class="container">
			<div class="row">
				<p class="footernote">
					Siguenos en nuestras redes sociales
				</p>
				<ul class="social-iconsfooter">
					<li><a href="#"><i class="fa fa-phone"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
				<p>
					&copy; Diseño de sistemas 9° Semestre<br />
					Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>
				</p>
			</div>
		</div>
	</div>

	<!-- SCRIPTS =============================-->
	<script src="js/jquery-.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/anim.js"></script>

	<script>
		//----HOVER CAPTION---//	  
		jQuery(document).ready(function ($) {
			$('.fadeshop').hover(
				function () {
					$(this).find('.captionshop').fadeIn(150);
				},
				function () {
					$(this).find('.captionshop').fadeOut(150);
				}
			);
		});
	</script>
</body>

</html>